<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Examen Estadística Computacional</title>
<link type="text/css" rel="stylesheet" href="miEstilo.css"/>
</head>

<body>

<center>
  <h1>Examen Estadística Computacional</h1>
  <h3>Nombre</h3>
</center>

<h2>Ejercicio 1</h2>

<p>Blablabla</p>

<!--begin.rcode
x = sample(52, 1000, T)
x
end.rcode-->
<h2>Ejercicio 2</h2>

<p>Blobloblo</p>

<!--begin.rcode
hist(x)
end.rcode-->


</body>
</html>
