<!DOCTYPE html>
<html>
<head>
  <title>Ejemplo de uso de knitr con HTML</title>
</head>
<body>

<center>
  <H1>Ejemplo de uso de <code>knitr</code> con HTML</H1>
</center>  

<h2>Introducción</h2>
<p>El libro <b>knitr</b> permite construir un archivo HTML que integra resultados de R.   Evidentemente, el libro con todas sus dependencias debe estar en la biblioteca, en caso contrario debe usar la orden <b>install.packages("knitr", dependencies = TRUE)</b>. Una vez cargado con la orden	<b>library(knitr)</b>,
basta con crear un archivo con la extensión <code>Rhtml</code> que incluya un texto en formato <code>HTML</code> y 
además incluya unos comentarios especiales que serán ejecutados en R y cuyos resultados, mezclados con el texto original,
constituirán un archivo con el mismo nombre que el archivo suministrado y con extensión <code>html</code>.
</p>				 

<p>
Esto es, si el archivo se llama <code>1.Rhtml</code> y se encuentra en el directorio de trabajo, se ejecuta la orden <code>knit("1.Rhtml")</code> y se obtendrá el archivo <code>1.html</code> (y varios archivos adicionales en el directorio <code>figure</code> si se incluyen gráficos).
</p>

<p>
Los comentarios especiales son de la forma
<pre>
&lt;!--begin.rcode [metaórdenes]
	Órdenes de R
end.rcode-->
</pre>
dónde las metaórdenes afectan al tipo de salida de R.
</p>
<h2>Ejemplos</h2>
  <p>
  
  Generación de 20 números de la normal 0, 1.
  </p>

<!--begin.rcode
    ## Esta línea es un comentario que no afecta al resultado final
    x=rnorm(20)
end.rcode-->

	Si no quiere que aparezcan las órdenes que producen un resultado, basta con que use la metaorden
<code>echo=FALSE</code>. En el siguiente bloque se presentan los valores anteriormente generados.

<!--begin.rcode	echo=FALSE
	x
end.rcode-->

  <p>Este es el histograma de esos datos (centrado mediante la opción
   <code>fig.align='center'</code> y de tamaño 4x4 mediante las opciones <code>fig.width=4, fig.height=4</code>):</p>

<!--begin.rcode fig.align='center', fig.width=4, fig.height=4
	## @knitr histograma
    hist(x)
    end.rcode-->
	
Si para hacer un gráfico se dan varias órdenes, el programa graba todas las imágenes intermedias y puede presentarlas todas. 
Si solo quiere mostrar alguna de ellas utilice la opción <code>fig.keep</code>. El valor predeterminado es <code>fig.keep='high'</code> que muestra solamente la última.
Si hay demasiados gráficos y solo quiere conservar el último puede usar la opción
<code>fig.keep='last'</code>.

	
<p>
	Las expresiones de R se formatean adecuadamente de modo predeterminado. Si las órdenes son:
	<pre>
		for(k in 1:10){fj=cos(
		sin(k)*
	k^
	2)+3;cat(k,"\t",fj,"\n")}
	</pre>
	obtendrá:
<!--begin.rcode
	for(k in 1:10){fj=cos(
		sin(k)*
	k^
	2)+3;cat(k,"\t",fj,"\n")}
end.rcode-->

<p>
  Además puede incluir expresiones en el texto con la opción 
  <b> <code>&lt;!--rinline expresión --></code> </b>
  como por ejemplo, la media de x es <!--rinline mean(x) -->.</p>

<br>  
<br>  
<br>  
<br>  
<br>  

<br>  
<br>  
<br>  
<br>  
<br>  
</body>
</html>

